.search-box{
  line-height: 40px;
  label span{
    margin-right: 8px;
  }
}

.file-table{
  ::ng-deep .ui-table table{
    table-layout: auto;
  }

  ::ng-deep tbody td:nth-child(1){
    overflow: hidden;
  }

  ::ng-deep tbody td:nth-child(5) img{
    width: calc(480px - 1em);
  }
}

.graph-container{
  position: relative;
  .btn-update{
    margin-right: 8px;
  }
}
