.center-container {
  width: 50vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tag-cloud {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 1em;
  .tag-item {
    cursor: pointer;
    margin: 0.5em 0.5em 0 0;
  }
}

p-autoComplete {
  width: 100%;
  ::ng-deep .ui-autocomplete {
    width: 100%;
    ::ng-deep .ui-autocomplete-input {
      width: 100%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
