/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

.ui-chips>ul.ui-inputtext{
  padding: 0;
}

.ui-chips-token{
  margin: .125em;
}

.ui-chips-input-token{
  margin: 0;
}
